---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Downloading {{ kubevirt_url }} to {{ kubevirt_exe }}...
  become: true
  become_user: root
  ansible.builtin.get_url:
    url: '{{ kubevirt_url }}'
    dest: '{{ kubevirt_exe }}'
    checksum: '{{ kubevirt_checksum }}'
    mode: '755'

- name: Linking {{ kubevirt_link }} to {{ kubevirt_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ kubevirt_exe }}'
    dest: '{{ kubevirt_link }}'
    state: link
